# remember to sync with backend requirements.txt
Django>=5.0
djangorestframework
django-cors-headers
gunicorn
python-dotenv
dj-database-url
whitenoise
psycopg[binary]
django-allauth
python-jose
PyJWT
cryptography
requests
boto3