# remember to sync with root requirements.txt
Django>=5.0
channels[daphne]>=4.0
channels-redis>=4.0
asgiref>=3.8
djangorestframework
django-cors-headers
python-dotenv
dj-database-url
whitenoise
psycopg[binary]
django-allauth
python-jose
PyJWT
cryptography
requests
beautifulsoup4
boto3
sentry-sdk[django]