{% load static %}
<!doctype html>
<html lang="en" data-pondarbor-logo="{{ pondarbor_logo_src }}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PondArbor</title>
    <link rel="icon" type="image/svg+xml" href="{{ favicon_href }}" />

    {% for css_file in vite_css %}
      <link rel="stylesheet" href="{% static css_file %}" />
    {% endfor %}
  </head>
  <body>
    <div id="root"></div>

    {% for js_file in vite_js %}
      <script type="module" src="{% static js_file %}"></script>
    {% endfor %}
  </body>
</html>